<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>MyUser</key><dict><key>address</key><string>@DroiExposeNSString</string><key>birthday</key><string>@DroiExposeNSDate</string><key>gender</key><string>@DroiExposeBOOL</string><key>name</key><string>@DroiExposeNSString</string><key>photo</key><string>@DroiExposeDroiFile</string></dict></dict></plist>